<%= render 'users/navbar' %>
<%= render 'layouts/alerts' %>
<div class="container">
    
    <div class="card mt-2">
    <h3 class="card-header">Approval applications</h3>
        <div class="d-flex justify-content-end m-1">
            <%= search_form_for @q,url: approvals_path do |form| %>
                <%#= form.search_field :status_eq, placeholder:'Search...', id:'bt-border-field' %>

                <%= form.search_field :user_email_or_user_gender_or_user_first_name_or_user_last_name_or_user_cnic_or_user_address_or_user_contact_or_id_to_s_cont, placeholder:'Search...', id:'bt-border-field' %>
                
                <%= icon('fa-solid', 'search',class:'link-info')%>
                <% form.submit "Search",class:' btn btn-sm btn-info' %>
            <% end %>
        </div>
        <table class="table table-striped" id="table">
            <thead id="tb-header">
                <tr>
                <th>Application#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Status</th>
                <th>Action</th>
                </tr>
            </thead>

            <tbody>
                
                <% @approvals.each do |approval| %>
                <tr>
                    <td><%= approval.id %></td>
                    <td><%= approval.first_name+' '+approval.last_name %></td>
                    <td><%= approval.email %></td>
                    <td><%= approval.gender %></td>
                    <td><span id="tb-status" class = <%= get_status_class(approval.status) %> ><%= approval.status %><span></td>
                    <td><%= link_to 'view', approval ,class:'link-info'%></td>
                </tr>
                <% end %>
            </tbody>
            
        </table>
            <div class="d-flex justify-content-center">
            <%= paginate @approvals %>
            </div>
        <br>
    </div>
</div>