<%= render 'navbar' %>
<br>
<div class="container">

    <div class=form>
        <%= form_with(model: @user, local: true) do |f| %>

        <!-- Basic information page -->
        <div id="page-1" class="">
            
            <%= render 'form', f: f %>
            <div class="d-flex justify-content-end" id='nav_btns'>
                <a id="next_btn" class="btn btn-primary float-right" onclick="goNext()">Next page</a>
            </div>
        </div>

        <!-- Upload document page -->
        <div id="page-2" class="d-none">
            <%= render 'upload_document',f: f %>

            <div class="row" id='nav_btns'>
                <div class="pull-left col-6">
                    <a id="previous_btn" class="btn btn-primary" onclick="goBack()">Previous page</a>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <%=f.submit "Submit", class:'btn btn-primary'%>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>

<script>
    function goNext(){
        $("#page-2").removeClass('d-none')
        $("#page-1").addClass('d-none')
    }

    function goBack() {
        $("#page-1").removeClass('d-none')
        $("#page-2").addClass('d-none')
    }
</script>
